<%- include("partials/header") %>

<div class="jumbotron">
  <h1>Team Rosters</h1>
</div>

<div class="container">

    <div class="row">
      <div class="col-3">
        <h4>Team Name</h4>
      </div>
      <div class="col-3">
        <h4>Baker 1</h4>
      </div>
      <div class="col-3">
        <h4>Baker 2</h4>
      </div>
      <div class="col-3">
        <h4>Baker 3</h4>
      </div>
    </div>
    <div class="row justify-content-center align-items-center d-block">
      <% teamList.forEach(function(team) { %>
      <div class="row">
        <div class="col-3 id="teamName"">
            <a href="/teamPage/<%-team.id%>"><%= team.name%> </a>
        </div>
        <% for (let key in team.roster) { %>
            <% let baker = team.roster[key]; %>   
            <div id="scoreboard" class="col-3 text-align-center justify-content-center">
                <%- allBakers.find(x => x.id === baker.bakerId.toHexString()).name; %>
            </div>
            <% }; %>
      </div>
      <% }); %>
    </div>

    <a type="button" class="btn btn-primary" href="/teams">Back to Teams</a>

</div>


<%- include("partials/footer") %>
