<%- include("partials/header") %>

<div class="jumbotron">
  <h1><%= team[0].name%></h1>
</div>

<div class="container">
    <h3>Here are the scores</h3>
    <div class="row">
        <div class="col-2">
        Episode
        </div>
        <% for (let ep = 1; ep <= 10; ep++) { %>
            <div class="col-2 col-sm-1 text-center justify-content-center">
                <%= ep%> 
            </div>
        <% }; %>
    </div>
    <% for (let bakerIndex in team[0].roster) { %>
      <% let baker = team[0].roster[bakerIndex]; %>   
      <div class="row align-items-center">
        <div class="scoreboard col-2">
            <%- allBakers.find(x => x.id === baker.bakerId.toHexString()).name; %>
        </div>
        <% let bakerId = team[0].roster[bakerIndex].bakerId; %>  
        <% let bakerScore = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]; %>
        <% let epScores = allBakers.find(el => JSON.stringify(el._id) === JSON.stringify(bakerId)).epScores; %>
        <% for (let i = 0; i < epScores.length; i++) { %>
          <% let epScore = epScores.find(el => el.episode === i+1) || [{scores:[{score:0}]}]; %>
          <% for (let cat = 0; cat < epScore.scores.length; cat++) { %>
            <% bakerScore[i] += epScore.scores[cat].score; %>
          <% }; %>
        <% }; %>
        <% bakerScore.forEach(function(score) { %> 
          <div class="scoreboard col-2 col-sm-1 text-center">
            <%- score %>
          </div> 
        <% }); %>
      </div>
    <% }; %>
    <a class="btn btn-primary" href="/teams">Back to Scoreboard</a>
    </div>
</div>

<%- include("partials/footer") %>
