<%- include("partials/header") %>

<div class="jumbotron">
  <h1>Welcome to your Fantasy GBBO League!</h1>
</div>

<div class="container">

  <h3>Here are the scores</h3>

  <div class="row align-items-center">
    <div class="col-2">
      Episode
    </div>
    <div class="col-10">
      <div class="row">
        <% for (let ep = 1; ep <= 10; ep++) { %>
          <div class="col text-center">
            <%= ep%> 
          </div>
        <% }; %>
        <div class="total col text-center">
          Total
        </div>
      </div>
    </div>
  </div>
  <% allTeams.forEach(function(team) { %>
  <div class="row align-items-center">
    <div class="col-2">
      <a href="/teamPage/<%-team.id%>"><%= team.name%> </a>
    </div>
    <div class="col-10">
      <div class="row">
      <% let teamScore = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]; %>
    <% let teamTotal = 0; %>
    <% for (let bakerIndex in team.roster) { %>
      <% let bakerId = team.roster[bakerIndex].bakerId; %>  
      <% let epScores = allBakers.find(el => JSON.stringify(el._id) === JSON.stringify(bakerId)).epScores; %>
      <% for (let i = 0; i < epScores.length; i++) { %>
        <% let epScore = epScores.find(el => el.episode === i+1) || [{scores:[{score:0}]}]; %>
        <% let score = 0; %>
        <% for (let cat = 0; cat < epScore.scores.length; cat++) { %>
          <% score += epScore.scores[cat].score; %>
        <% }; %>
          <% teamScore[i] += score; %>
          <% teamTotal += score; %>
      <% }; %>
    <% }; %>  
    <% teamScore.forEach(function(score) { %>
      <div class="scoreboard col text-center">
        <%- score %>
      </div>
    <% }); %>
    <div class="scoreboard total col text-center">
      <%- teamTotal %>
    </div>
  </div>
    </div>
  </div>
    
  <% }); %>

</div>


<%- include("partials/footer") %>
